<?xml version="1.0" encoding="UTF-8"?>

<beans  xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">


       <bean id="questions" class="Assignment2.Questions">
       
         <property name="questionid" value="7"></property>    
         <property name="Question" value="Cracking UPSC"></property>
         <property name="answers" ref="collection3"></property>
         
       
       </bean>
          
    <util:list id="collection1" value-type="java.lang.String">   
        <value>india ka top exam</value>
        <value>biggest achievement</value>
        <value>indain Proud</value>
    </util:list>
       
         
         <util:map id="collection2" map-class="java.util.HashMap" key-type="java.lang.Integer" value-type="java.lang.String">
         
         <entry key="1" value="indias culture"></entry>
         <entry key="2" value="most prestigeous"></entry>
         </util:map>
  
   
       
         <util:set id="collection3" value-type="java.lang.String">
         
          <value>nivav</value>
          <value>mira</value>
         
         </util:set>






</beans>
